<section class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <img class="w-100" src="../assets/images/logo.jpg" alt="Footer logo">
                </div>
                <div class="footer-top-menu">
                    <ul>
                        <li>
                            <i class="fa fa-home"></i>
                            <span class="heading">Address</span>
                            <span class="address">1702 Los Angeles. California, America</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span class="heading">Mail Us:</span>
                            <span class="email">
                                <a href="mailto:example@gmail.com">example@gmail.com</a>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span class="heading">Phone:</span>
                            <span class="number">
                                <a href="tel:1-888-345-6799">1-888-345-6799</a>
                            </span>
                        </li>
                        <li>
                            <a href="" class="payment">
                                <img src="../assets/images/visa.png" alt="">
                            </a>
                            <a href="" class="payment">
                                <img src="../assets/images/amazon-pay.png" alt="">
                            </a>
                            <a href="" class="payment">
                                <img src="../assets/images/apple-pay.png" alt="">
                            </a>
                            <a href="" class="payment">
                                <img src="../assets/images/symbols.png" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-all-menu">
                    <h2>My Account</h2>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Infomation</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Order History</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">My Wishlist</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Order History</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">City Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-6">
                <div class="footer-all-menu">
                    <h2>Infomation</h2>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a [routerLink]="['/cart']">Cart</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Product Support</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">PC Setup & Support</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Service</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Extended Service Plans</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>Out Service</h2>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">About</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Shipping Guide</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Store Location</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Afflilate</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Custom Point Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Sing up for out exclusive Newsletter</h2>
            </div>
            <div class="col-md-4">
                <div class="input">
                    <input type="email" class="input" placeholder="Email">
                    <button type="button" class="btn"><i class="fa fa-location-arrow"></i></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="social text-center mt-md-0 mt-4">
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-pinterest"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container text-center">
        <p>@ 2023 Developer Disign by <a href="">Creative Developer</a> All Right Resiver</p>
    </div>
</footer>